Source: rust-perlmod-macro
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-proc-macro2-1+default-dev <!nocheck>,
 librust-quote-1+default-dev <!nocheck>,
 librust-syn-2+default-dev <!nocheck>,
 librust-syn-2+full-dev <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Standards-Version: 4.6.1
Vcs-Git: 
Vcs-Browser: 
X-Cargo-Crate: perlmod-macro
Rules-Requires-Root: no

Package: librust-perlmod-macro-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proc-macro2-1+default-dev,
 librust-quote-1+default-dev,
 librust-syn-2+default-dev,
 librust-syn-2+full-dev
Provides:
 librust-perlmod-macro+default-dev (= ${binary:Version}),
 librust-perlmod-macro-0-dev (= ${binary:Version}),
 librust-perlmod-macro-0+default-dev (= ${binary:Version}),
 librust-perlmod-macro-0.8-dev (= ${binary:Version}),
 librust-perlmod-macro-0.8+default-dev (= ${binary:Version}),
 librust-perlmod-macro-0.8.3-dev (= ${binary:Version}),
 librust-perlmod-macro-0.8.3+default-dev (= ${binary:Version})
Description: Perl package macros to create perl package bindings from rust at compile time - Rust source code
 This package contains the source for the Rust perlmod-macro crate, packaged by
 debcargo for use with cargo and dh-cargo.
