Source: rust-perlmod-macro
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-proc-macro2-1+default-dev <!nocheck>,
 librust-quote-1+default-dev <!nocheck>,
 librust-syn-2+default-dev <!nocheck>,
 librust-syn-2+full-dev <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Standards-Version: 4.7.0
Vcs-Git: 
Vcs-Browser: 
Homepage: https://git.proxmox.com/?p=perlmod.git
X-Cargo-Crate: perlmod-macro
Rules-Requires-Root: no

Package: librust-perlmod-macro-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proc-macro2-1+default-dev,
 librust-quote-1+default-dev,
 librust-syn-2+default-dev,
 librust-syn-2+full-dev
Provides:
 librust-perlmod-macro+default-dev (= ${binary:Version}),
 librust-perlmod-macro-0-dev (= ${binary:Version}),
 librust-perlmod-macro-0+default-dev (= ${binary:Version}),
 librust-perlmod-macro-0.9-dev (= ${binary:Version}),
 librust-perlmod-macro-0.9+default-dev (= ${binary:Version}),
 librust-perlmod-macro-0.9.2-dev (= ${binary:Version}),
 librust-perlmod-macro-0.9.2+default-dev (= ${binary:Version})
Description: Perl package macros to create perl package bindings from rust at compile time - Rust source code
 Source code for Debianized Rust crate "perlmod-macro"
