Source: rust-perlmod
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-bitflags-2+default-dev <!nocheck>,
 librust-cc-1+default-dev (>= 1.2-~~) <!nocheck>,
 librust-libc-0.2+default-dev <!nocheck>,
 librust-perlmod-macro-0.10+default-dev <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 perl (>= 5.38~) <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Standards-Version: 4.7.0
Vcs-Git: 
Vcs-Browser: 
Homepage: https://git.proxmox.com/?p=perlmod.git
X-Cargo-Crate: perlmod
Rules-Requires-Root: no

Package: librust-perlmod-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-bitflags-2+default-dev,
 librust-cc-1+default-dev (>= 1.2-~~),
 librust-libc-0.2+default-dev,
 librust-serde-1+default-dev,
 perl (>= 5.38~)
Recommends:
 librust-perlmod+perlmod-macro-dev (= ${binary:Version})
Provides:
 librust-perlmod-0-dev (= ${binary:Version}),
 librust-perlmod-0.14-dev (= ${binary:Version}),
 librust-perlmod-0.14.0-dev (= ${binary:Version})
Description: Ffi & serde code for limited interaction with perl code - Rust source code
 Source code for Debianized Rust crate "perlmod"

Package: librust-perlmod+perlmod-macro-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-perlmod-dev (= ${binary:Version}),
 librust-perlmod-macro-0.10+default-dev
Provides:
 librust-perlmod+default-dev (= ${binary:Version}),
 librust-perlmod+exporter-dev (= ${binary:Version}),
 librust-perlmod-0+perlmod-macro-dev (= ${binary:Version}),
 librust-perlmod-0+default-dev (= ${binary:Version}),
 librust-perlmod-0+exporter-dev (= ${binary:Version}),
 librust-perlmod-0.14+perlmod-macro-dev (= ${binary:Version}),
 librust-perlmod-0.14+default-dev (= ${binary:Version}),
 librust-perlmod-0.14+exporter-dev (= ${binary:Version}),
 librust-perlmod-0.14.0+perlmod-macro-dev (= ${binary:Version}),
 librust-perlmod-0.14.0+default-dev (= ${binary:Version}),
 librust-perlmod-0.14.0+exporter-dev (= ${binary:Version})
Description: Ffi & serde code for limited interaction with perl code - feature "perlmod-macro" and 2 more
 This metapackage enables feature "perlmod-macro" for the Rust perlmod crate, by
 pulling in any additional dependencies needed by that feature.
 .
 Additionally, this package also provides the "default", and "exporter"
 features.
