Source: rust-perlmod
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-bitflags-1+default-dev (>= 1.2.1-~~) <!nocheck>,
 librust-cc-1+default-dev (>= 1.0.46-~~) <!nocheck>,
 librust-libc-0.2+default-dev <!nocheck>,
 librust-perlmod-macro-0.6+default-dev <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 perl (>= 5.28.1) <!nocheck>
Maintainer: Debian Rust Maintainers <pkg-rust-maintainers@alioth-lists.debian.net>
Standards-Version: 4.5.1
Vcs-Git: 
Vcs-Browser: 
Rules-Requires-Root: no

Package: librust-perlmod-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-bitflags-1+default-dev (>= 1.2.1-~~),
 librust-cc-1+default-dev (>= 1.0.46-~~),
 librust-libc-0.2+default-dev,
 librust-serde-1+default-dev,
 perl (>= 5.28.1)
Recommends:
 librust-perlmod+perlmod-macro-dev (= ${binary:Version})
Provides:
 librust-perlmod-0-dev (= ${binary:Version}),
 librust-perlmod-0.10-dev (= ${binary:Version}),
 librust-perlmod-0.10.0-dev (= ${binary:Version})
Description: Ffi & serde code for limited interaction with perl code - Rust source code
 This package contains the source for the Rust perlmod crate, packaged by
 debcargo for use with cargo and dh-cargo.

Package: librust-perlmod+perlmod-macro-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-perlmod-dev (= ${binary:Version}),
 librust-perlmod-macro-0.6+default-dev
Provides:
 librust-perlmod+default-dev (= ${binary:Version}),
 librust-perlmod+exporter-dev (= ${binary:Version}),
 librust-perlmod-0+perlmod-macro-dev (= ${binary:Version}),
 librust-perlmod-0+default-dev (= ${binary:Version}),
 librust-perlmod-0+exporter-dev (= ${binary:Version}),
 librust-perlmod-0.10+perlmod-macro-dev (= ${binary:Version}),
 librust-perlmod-0.10+default-dev (= ${binary:Version}),
 librust-perlmod-0.10+exporter-dev (= ${binary:Version}),
 librust-perlmod-0.10.0+perlmod-macro-dev (= ${binary:Version}),
 librust-perlmod-0.10.0+default-dev (= ${binary:Version}),
 librust-perlmod-0.10.0+exporter-dev (= ${binary:Version})
Description: Ffi & serde code for limited interaction with perl code - feature "perlmod-macro" and 2 more
 This metapackage enables feature "perlmod-macro" for the Rust perlmod crate, by
 pulling in any additional dependencies needed by that feature.
 .
 Additionally, this package also provides the "default", and "exporter"
 features.
